Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  misc-*,
  cert-*,
  google-*,
  hicpp-*

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

FormatStyle: file

